name: Publish Gem
on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  publish_gem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Check for version difference
        id: check_file_changed
        run: |
          echo "VERSION_DIFF_COUNT=$(grep --count "lib/github_package_flow/version.rb" <<< "`git diff --name-only HEAD^ HEAD`")" >> $GITHUB_OUTPUT

      - name: Set up Ruby
        if: steps.check_file_changed.outputs.VERSION_DIFF_COUNT == '1'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'

      - name: Install dependencies
        if: steps.check_file_changed.outputs.VERSION_DIFF_COUNT == '1'
        run: |
          bundle install --jobs 4
          git restore Gemfile.lock

      - name: Set Credentials
        if: steps.check_file_changed.outputs.VERSION_DIFF_COUNT == '1'
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:github: Bearer ${GITHUB_TOKEN}\n" > $HOME/.gem/credentials
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          bundle config set --global gem.push_key github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to GitHub Packages
        if: steps.check_file_changed.outputs.VERSION_DIFF_COUNT == '1'
        run: rake release
